<main>
    <section id="section-1">
        <p>
            Sei Teil des Brickmakers Hackathon, schließe dich mit anderen zusammen und sorge mit deiner Idee und deinem
            Team
            für Impact, der sich sehen lassen kann. Dabei spielt es keine Rolle ob du ein erfahrener Entwickler oder
            jemand
            mit
            einer sensationellen Idee bist. Völlig egal ob du alleine oder als komplettes Team kommen möchtest, wir
            unterstützen
            deine Idee mit unseren professionellen Entwicklern und Designern, welche im Verlauf des Hackthon als
            Mentoren
            zur
            Seite stehen.
        </p>
        <p>
            Zusätzlich warten attraktive Preise, leckeres Catering, eine coole Location und jede Menge Spaß. Klingt gut?
        </p>
        <a>
            JAP, ich will mich anmelden
        </a>
    </section>
    <section id="section-2">
        <form>
            <label class="w-45">
                Vorname *
                <input class="w-100" required/>
            </label>
            <label class="w-45">
                Name *
                <input class="w-100" required/>
            </label>
            <label class="w-45">
                E-Mail *
                <input class="w-100" type="email" required/>
            </label>
            <label class="w-45">
                Unternehmen
                <input class="w-100"  />
            </label>
            <label class="w-100">
                Rolle
                <input class="w-100"  />
            </label>
            <label class="w-100">
                Themenvorschlag
                <input class="w-100" />
            </label>
        </form>
    </section>
</main>