<section id="section-1">
    <div id="banner">
        <div class="banner-block">
            <i class="icon icon-location"></i>
            <span>Online</span>
        </div>
        <div class="banner-block">
            <i class="icon icon-date"></i>
            <span>09./10. Oktober 2020</span>
        </div>
        <div class="banner-block">
            <i class="icon icon-participant"></i>
            <span>25</span>
        </div>
    </div>
    <div class="wrapper">
        <p>
            Sei Teil des Brickmakers Hackathon, schließe dich mit anderen zusammen und sorge mit deiner Idee und deinem
            Team
            für Impact, der sich sehen lassen kann. Dabei spielt es keine Rolle ob du ein erfahrener Entwickler oder
            jemand
            mit
            einer sensationellen Idee bist. Völlig egal ob du alleine oder als komplettes Team kommen möchtest, wir
            unterstützen
            deine Idee mit unseren professionellen Entwicklern und Designern, welche im Verlauf des Hackathon als
            Mentoren
            zur
            Seite stehen.
        </p>
        <p>
            Zusätzlich warten attraktive Preise, leckeres Catering und jede Menge Spaß. Klingt gut?
        </p>
        <a href="https://discord.com/invite/ss7EN5W" target="_blank">
            JETZT DISCORD BEITRETEN
        </a>
    </div>
</section>

<!--
        <section id="section-1">
    <button onclick="scrollToElement('#section-2')">
        Hier geht's zur Anmeldung
    </button>
</section>
<section id="section-2">
    <form>
        <label style="grid-area: firstname;">
            Vorname *
            <input required />
        </label>
        <label style="grid-area: lastname;">
            Nachname *
            <input required />
        </label>
        <label style="grid-area: email;">
            E-Mail *
            <input type="email" required />
        </label>
        <label style="grid-area: company;">
            Unternehmen
            <input />
        </label>
        <label style="grid-area: role;">
            Rolle
            <input />
        </label>
        <label style="grid-area: suggestion;">
            Themenvorschlag
            <input />
        </label>
        <input class="submit" type="submit" style="grid-area: submit;" />
    </form>
</section>
-->